MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/DBNAME?retryWrites=true&w=majority
PORT=8000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=24h
